* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

main {
    display: flex;
    background-image: url('/src/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
/****MENU****/
.menus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid rgba(255, 255, 255, 0.123);
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
    width: 100%;
    height: 60px;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.101);
    
}

.button {
    color: rgba(223, 222, 222, 0.379);
    font-family: 'Orbitron', sans-serif;
    width: 100px;
    height: 29px;
    border-radius: 30px;
    margin-left: 100px;
    padding-top: 4px;
    text-align: center;
    cursor: pointer;
    transition: 800ms;
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.39) ;
    color: rgb(255, 255, 255) ;
}
.container {
    display: flex;
    flex-direction: column;
    
}
.welcome {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgb(241, 241, 241);
    opacity: 0.3;
    border-bottom-width: 2px solid #fff;
    backdrop-filter: blur(40px);
    transition: 2s;
}

.xclose {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.058);
    backdrop-filter: blur(40px);
    -webkit-box-shadow: 1px 2px 11px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 11px -1px rgba(0,0,0,0.75);
box-shadow: 1px 2px 11px -1px rgba(0,0,0,0.75);
transition: 6ms
}
.xclose:hover {
    background-color: rgba(255, 255, 255, 0.397);
}
.contents {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.058);
    backdrop-filter: blur(2px);
    -webkit-box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
    width: 80vw;
    height: 400px;;
    margin-top: 20px;
    transition: 0.5ms;

}
.hide {
    display: none;
}
/********PAGINA PROJETOS********/
.content-project {

    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.058);
    backdrop-filter: blur(15px);
    -webkit-box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-project:hover {

    width: 250px;
    height: 250px;

}
figcaption {
   
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
img {
    margin-bottom: 5px;
    width: 60%;
    cursor: pointer;

}
/********PAGINA SKILLS********/
.skillsimg {
    width: 200px;
    height: 200px;
    margin-left: 40px;
    padding-right: 20px;
    animation: rotateSkill 4s ease-out infinite;
}
#textoskills {
    width: 100%;
    color: whitesmoke;
    font-size: 48px;
    padding-left: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

/******CONDIÇÕES PARA ALTERAR PAGINAS*******/
.mensagemOff {
    display: none;
}
.mensagemOn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
}
/*******REDES SOCIAIS*******/
aside {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 30%;
    cursor: pointer;

}
.boxside {
    padding: 16px 11px 5px 6px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 150px;
    opacity: 0.5;
    transition: 1s;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.101);
    backdrop-filter: blur(2px);
    -webkit-box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
}
.boxside:hover {
    height: 180px;
    width: 70px;
    background-color: rgba(255, 255, 255, 0.21);
}
.social {
    
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 3px;
    transition: 1s;

}
.social:hover{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 7px;
}
/****TEXTO WELCOME******/
.texto{
    position: absolute;
    top: 300px;
    font-family: 'Orbitron', sans-serif;
    font-size: 32px;
    width: 70%;
    opacity: 0.6;
   
    text-align: center;
    color: rgb(195, 195, 195);
    animation: fadeDown 2s ease-in;
    animation-duration: 2s;
}
.texto2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 48px;
    position: absolute;
    bottom: 25%;
    width: 70%;
    opacity: 0.6;
    margin-top: 30px;
    text-align: center;
    color: rgb(195, 195, 195);
    right: 0px;
    animation: fadeRight 2s ease-in;
    animation-duration: 2s;
}
footer {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50%;
    bottom: 0%;
    height: 90px;
    opacity: 0.5;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    background-color: rgba(255, 255, 255, 0.101);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.123);
    -webkit-box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
}
#assinatura {
    font-family: 'Petemoss', cursive;
    font-size: 38px;
    text-align: center;
    font-weight: 50;
    opacity: 0.5;
    color: aliceblue;
}
.txtFooter {
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    font-family: 'Orbitron', sans-serif;
}


/*******ANIMAÇÕES*******/
@keyframes gradient {
    0% { background-position: 50% 0%; }
    100% { background-position: 50% 100%; }
}
@keyframes rotateSkill {
    to {
        transform: rotateY(390deg)
    }
    from {
        transform: rotateY(0deg)
    }
}
@keyframes fadeRight {
    to {
        transform: translateX(0px);
        opacity: 0.5;
    }
    from {
        transform: translateX(300px);
        opacity: 0;
    }
}
@keyframes fadeDown {
    to {
        transform: translateY(0px);
        opacity: 0.5;
    }
    from {
        transform: translateY(-300px);
        opacity: 0;
    }
}

/******RESPONSIVE*******/
@media screen and (max-width: 868px){

    footer {
        width: 80%;
    }

}
@media screen and (max-width: 800px){
    .content-project{
        width: 160px;
        height: 160px;
    }
}
@media screen and (max-width: 600px){
    .content-project{
        width: 130px;
        height: 130px;
    }
    .container {
       display: flex
    
    }
}

@media screen and (max-width: 500px) {
    main {
        background-size: cover;
        min-height: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contents {
        display: flex;
        flex-direction: column;
        min-height: 650px;
    }
    .container {
        width: 70%;
        margin-bottom: 15px;
        margin-top: -50px;
    }
    .texto{
        position: absolute;
        font-size: 22px;
        top: 50%;
    }
    .sobre {
        font-size: 16px;
    }
    footer{
        
        position: absolute;
        bottom: -20%;
        width: 80%;
    
    }
}
