* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    
}
html {
    background-image: url('/src/background-mob.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
/****MENU****/
.menus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid rgba(255, 255, 255, 0.123);
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
    width: 100%;
    height: 60px;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.101);
    
}

#loading {
    color: #fff;
    display: none;
}
/****TEXTO WELCOME******/
.texto{
    position: absolute;
    top: 12rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 32px;
    width: 70%;
    opacity: 0.6;
    text-align: center;
    color: rgb(195, 195, 195);
    animation: fadeDown 2s ease-in;
    animation-duration: 2s;
}
.texto2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 56px;
    position: absolute;
    bottom: 22%;
    width: 70%;
    opacity: 0;
    text-align: center;
    color: rgb(195, 195, 195);
    
    animation: piscar 2s ease-in-out infinite alternate;
    animation-delay: 3s;
}
.posts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 100px;

}
.button {
    color: rgba(223, 222, 222, 0.879);
    
    width: 100px;
    height: 32px;
    border-radius: 30px;
   
    padding-top: 4px;
    text-align: center;
    cursor: pointer;
    transition: 800ms;
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.39) ;
    color: rgb(255, 255, 255) ;
}
.container {
    display: flex;
    flex-direction: column;
    
}


.xclose {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.058);
    backdrop-filter: blur(40px);
    -webkit-box-shadow: 1px 2px 11px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 11px -1px rgba(0,0,0,0.75);
box-shadow: 1px 2px 11px -1px rgba(0,0,0,0.75);
transition: 1s
}
.xclose:hover {
    background-color: rgba(255, 255, 255, 0.397);
}
.contents {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.058);
    backdrop-filter: blur(10px);
    -webkit-box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
    width: 80vw;
    height: 400px;;
    margin-top: 20px;
    transition: 0.5ms;

}
.hide {
    display: none;
}
/********PAGINA PROJETOS********/
.content-project {

    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.058);
    backdrop-filter: blur(15px);
    -webkit-box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
    width: 160px;
    height: 160px;
    margin-bottom: 15px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.content-project:hover {

    width: 190px;
    height: 190px;

}
figcaption {
   
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
img {
    margin-bottom: 5px;
    width: 60%;
    cursor: pointer;

}
/********PAGINA HABILIDADES********/
#pagskills {
    padding: 0px 0px;
}
#pagskills h1 {
    position: absolute;
    font-size: 28px;
    color: rgb(195, 195, 195);
    bottom: 4rem;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
.imgs-code {
    position: absolute;
    top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    margin-bottom: 100px;
}
.cardskill {
    width: 100px;
    height: 100px;
}
/*ANIMAR IMAGEMS SKILL*/
#imgHTML {
    transition-delay: 0.1ms;
    animation: show-skill 2s;
    animation-delay: 400ms;
    animation-fill-mode: backwards;
   
}
#imgCSS {
    transition-delay: 0.2ms;
    animation: show-skill 3s;
    animation-delay: 800ms;
    animation-fill-mode: backwards;
    
}
#imgJS {
        
    transition-delay: 0.2ms;
    animation: show-skill 3s;
    animation-delay: 1200ms;
    animation-fill-mode: backwards;
}
#imgREACT {
    opacity: 0;
    transition-delay: 0.2ms;
    animation: skill-react 3s ease-in-out infinite alternate;
    animation-delay: 1800ms;
    
}
#imgJSWEB {
    transition-delay: 0.2ms;
    animation: show-skill 3s;
    animation-delay: 2200ms;
    animation-fill-mode: backwards;
}
#imgMONGO {
    transition-delay: 0.2ms;
    animation: show-skill 3s;
    animation-delay: 2600ms;
    animation-fill-mode: backwards;
}
#imgGIT {
    transition-delay: 0.2ms;
    animation: show-skill 2s;
    animation-delay: 3000ms;
    animation-fill-mode: backwards;
}
/*******PAGINA CONTATO*******/
#pagcontato {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}
#form-email {
    display: flex;
    flex-direction: column;

}
input {
    border-radius: 10px;
}
#txtinput {
    margin-bottom: 20px;
    width: 70%;
    
}
textarea {
    
    width: 320px;
    font-size: 24px;
    height: 200px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 340px;
    border-radius: 10px;
    background: none;
    max-height: 150px;
    text-align: center;
    white-space: normal;
    margin-bottom: 20px;
    margin-right: 20px;
}
#enviar {
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 200px;
    color: antiquewhite;
    height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.058);
    backdrop-filter: blur(10px);
    transition: 1s;
    -webkit-box-shadow: 1px 2px 11px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 11px -1px rgba(0,0,0,0.75);
box-shadow: 1px 2px 11px -1px rgba(0,0,0,0.75);
}
#enviar:hover {
    background-color: rgba(255, 255, 255, 0.397);
}

.contatoContent {
    font-family: 'Roboto Condensed', sans-serif;
    width: 70%;
    font-size: 28px;
    height: 100%;
    border-left: 3px dotted rgba(255, 255, 255, 0.404);
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contatoContent p {
    text-align: center;
}
.contatoContents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.041);
    width: 80%;
    height: 20rem;
}
.contatoContents p {
    font-size: 22px;
    text-align: center;

}


/******CONDIÇÕES PARA ALTERAR PAGINAS*******/
.mensagemOff {
    display: none;
}
.mensagemOn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
}
/*******REDES SOCIAIS*******/
aside {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 30%;
    cursor: pointer;

}
.boxside {
    padding: 16px 11px 5px 6px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 150px;
    opacity: 0.5;
    transition: 1s;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.101);
    backdrop-filter: blur(2px);
    -webkit-box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
}
.boxside:hover {
    height: 180px;
    width: 70px;
    background-color: rgba(255, 255, 255, 0.21);
}
.social {
    
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 3px;
    transition: 1s;

}
.social:hover{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 7px;
}

footer {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50%;
    bottom: 0%;
    height: 85px;
    opacity: 0.5;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    background-color: rgba(255, 255, 255, 0.101);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.123);
    -webkit-box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
box-shadow: 0px -1px 43px -13px rgba(0,0,0,0.75);
}
#assinatura {
    font-family: 'Petemoss', cursive;
    font-size: 38px;
    text-align: center;
    font-weight: 50;
    opacity: 0.9;
    color: aliceblue;
}
.txtFooter {
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    font-family: 'Orbitron', sans-serif;
}


/*******ANIMAÇÕES*******/
@keyframes gradient {
    0% { background-position: 50% 0%; }
    100% { background-position: 50% 100%; }
}
@keyframes rotateSkill {
    to {
        transform: rotateY(390deg)
    }
    from {
        transform: rotateY(0deg)
    }
}
@keyframes fadeRight {
    to {
        transform: translateX(0px);
        opacity: 0.5;
    }
    from {
        transform: translateX(300px);
        opacity: 0;
    }
}
@keyframes fadeDown {
    to {
        transform: translateY(0px);
        opacity: 0.5;
    }
    from {
        transform: translateY(-300px);
        opacity: 0;
    }
}
@keyframes piscar {
    to {
        opacity: 1;
    }
    from {
        opacity: 0;
    }
}
@keyframes skill-react {
    from{
        opacity: 0;
        transform: scale(0.001);
        transform: rotate3d(3,7,8, 360deg);
    }
    to {
        opacity: 1;

    }
}
@keyframes show-skill {
    from { 
        opacity: 0; 
    }
    to   { 
        opacity: 1; 
    }
}

/******RESPONSIVE*******/
@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 950px){

    .container {
        margin-bottom: 50px;
         width: 70%;
         flex-direction: column;
         justify-content: center;
         align-items: center; 
     }
    .texto {
        top: 8rem;
    }
    .cardskill {
        width: 62px;
        height: 62px;
    }
    .contatoContent p {
        text-align: center;
        font-size: 22px;
    }
    footer {
        width: 80%;
    }

}
@media screen and (max-width: 786px){
    #pagskills h1 {
        font-size: 22px;
    }
    .content-project{
        width: 150px;
        height: 150px;
    }

/*PAGINA DE CONTATO*/
    .body {
        min-height: 700px;
    }
    .contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 700px;
        
    }
    .contatoContent {
        border-left: none;
        display: none;
    }
    #form-email { 
        align-items: center;
        padding-left: 35px;
        padding-top: 30px;
      }
    footer {
        position: absolute;
        bottom: 1px;
    }

}

@media screen and (max-width: 600px) {
/*******PAGINA DE PROJETOS*/
    .content-project{
        width: 100px;
        height: 100px;
    }
    .contents {
        width: 90%;
        display: flex;

    }

    .cardskill {
        width: 48px;
        height: 48px;
    }
/*******PAGINA DE CONTATO*/
    .pagcontato{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }
    .container {
       margin-bottom: 50px;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        
    }
    #form-email {
      padding: 30px 20px 30px 20px;  
    }
    .texto{
        position: absolute;
        top: 8rem;
        margin-bottom: 10%;
        width: 70%;

    }
    .texto2 {
        position: absolute;
        margin-top: 45%;
        
    }
    .sobre {
        font-size: 16px;
    }
    .txtFooter {
        font-size: 18px;
    }

}
@media screen and (max-width: 557px){

    #form-email textarea {
        width: 17rem;
    }
    .contents {
        justify-content: center;
        align-items: center;
    }
   .txtFooter {
       font-size: 18px;
   }
}
@media screen and (max-width: 523px){
    .contents {
       display: flex;
       flex-direction: column;
    
        justify-content: center;
        align-items: center;
    }
    #form-email { 
        align-items: center;
        padding-left: 35px;
        padding-top: 20px;
      }
    #form-email textarea {
        width: 16rem;
    }
    .txtFooter {
        font-size: 15px;
    }
 }

@media screen and (max-width: 450px) {
    /*RESPONSIVE PROJETOS*/
    .content-project{
        width: 130px;
        height: 130px;
    }
    .content-project:hover{

    }


    /*RESPONSIVE HABILIDADE*/
    .contents{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 450px;
        
    }
    .contents #txtskill {
        font-size: 16px;
        margin-top: 10px;
    }
    #imgHTML {
        margin-left: 3rem;
    }
    #imgREACT{
        margin-left: 1rem;
        padding: 5px 0px 0px 5px;
    }
    #imgJSWEB {
        margin-left: 1rem;
    }
    .break {
        flex-basis: 100%;
        width: 0;
      }
    .imgs-code {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        top: 4rem;

    }
    .texto {
        font-size: 28px;
    }
    .texto2 {
        font-size: 52px;
    }

/********PAGINA DE CONTATO*/
#form-email textarea {
    width: 14rem;
}
}
@media screen and (max-width: 418px) {
    /*RESPONSIVE HABILIDADE*/
    #imgHTML{
        margin-left: 2rem;
    }
    .texto {
        font-size: 24px;
    }
    .texto2 {
        
        font-size: 50px;
    }
    .txtFooter {
        font-size: 12px;
    }
}
@media screen and (max-width: 375px) {
    .texto {
        font-size: 26px;
    }
    .texto2 {
        font-size: 46px;
    }

/*******PAGINA DE CONTATO*/
#form-email textarea {
    width: 12rem;
}
#enviar {
    width: 12rem;
    margin-right: 9px;
}   
}
@media screen and (max-width: 343px) {
    .texto {
        font-size: 22px;
    }
    .texto2 {
        position: absolute;
        bottom: 10rem;
        font-size: 42px;
    }
    #assinatura {
        font-size: 20px;
    }

}
@media screen and (max-width: 317px) {
    .texto {
        font-size: 18px;
    }
    .xclose {
        margin-right: 0px;
    }
    .texto2 {
        position: absolute;
        bottom: 10rem;
        font-size: 40px;
    }
}